# editor files
.vscode
*~
*.swp
*.tmp
*.temp
*.core
*.backup

# python
__pycache__

# python venv
venv
venv/*
python-venv
python-venv/*

# sqlite test database
db.sqlite3

# static and media files
django_tinywiki/builtin_wiki_pages/*-builtin-*.jpg
django_tinywiki/builtin_wiki_pages/*-builtin-*.png
static/*
media/*
.uploads/*

# secret key file
tinywiki/secret_key.py

# appsettings
tinywiki/appsettings.py

# python package cache
dist/*
build/*
*.egg-info/*
*.whl
