# editor files
.vscode
*~
*.swp
*.tmp
*.temp
*.core

# python
__pycache__

# python venv
venv
venv/*
python-venv
python-venv/*

# sqlite test database
db.sqlite3

# static and media files
django_tinywiki/builtin-wiki-pages/*-builtin-*.[jpg,png]
static/*
media/*
