{% extends base_template %}
{% load i18n %}

{% block main %}
<h1>Delete Page</h1>
<h2>{{ page.title }}</h2>
{% with page_slug=page.slug page_title=page.title page_user=page.user.username %}
<p>{% blocktranslate %}Do you really want to delete the wiki page <em>{{ page_slug }}</em>
    with the title <em>{{ page_title }} owned by user <em>{{ page_user }}</em>?{% endblocktranslate %}</p>
{% endwith %}
<form method="post">
    {% csrf_token %}
    <p>{{ form.delete_page }} {{ form.delete_page.label_tag }}</p>
    <p>{{ form.delete_images }} {{ form.delete_images.label_tag }}</p>
    <input type="submit" value="{% translate 'Delete Page' %}">
</form>

{% endblock %}
