{% extends base_template %}
{% load i18n %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        {{ form.errors }}
    </p>
    <p>
        {{ form.alt_text.label_tag }}<br>
        {{ form.alt_text }}
    </p>
    <p>
        {{ form.description.label_tag }}<br>
        {{ form.description }}
    </p>
    <p>
        {{ form.image.label_tag }}<br>
        {{ form.image }}
    </p>
    <div class="align-right">
        <input type="submit" value="{% translate 'Upload' %}">
    </div>
</form>
{% endblock %}