{% extends base_template %}
{% load i18n %}

{% block main %}
{% autoescape off %}{{ content }}{% endautoescape %}
{% if user_can_edit_page %}
<h1>{% translate "Linked Images" %}</h1>
<a href="{{ image_upload_url }}">{% translate "Upload image" %}</a>
{% if images %}
<ul>
    {% for img in images %}<li><a href="{{ img.image.url }}"><img style="width:128;" src="{{ img.image_preview.url }}"><br>{{ img.id }}{% if img.alt %} - {{ img.alt }} {% endif %}</a></li>{% endfor %}
</ul>
{% endif %}
{% endif %}
<div class="wiki-userinfo">
    <p>
        &copy;
        {% if page.created_on.year == page.edited_on.year %}
            {{ page.created_on.year }}
        {% else %}
            {{ page.created_on.year }}-{{ page.edited_on.year }}
        {% endif %}
        {% if page.user.username %}{{ page.user.username }}{% else %}{% translate 'Unknown User' %}{% endif %}
    </p>
    <p>
        <strong>{% translate 'Latest edit on:' %}</strong> {{ page.edited_on}}<br>
        {% if page.edited_by %}<strong>{% translate 'Edited by:'%}</strong> {{ page.edited_by.username }}<br>{% endif %}
        <strong>{% translate 'Reason:' %}</strong> {% if page.edited_reason %}{{ page.edited_reason }}{% else %}{% translate 'No reason given' %}{% endif %}
    </p>
</div>
{% endblock %}